<div class="container">
  <div class="card">
    <div class="columns">
      <div class="column is-3 has-text-centered">
        <p class="subtitle">{{ player.faceit.ctx.name }}</p>
      </div>
      <div class="column">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Name</p>
              <p class="title">{{ player.faceit.name }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Level</p>
              <p class="title">{{ player.faceit.level }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Elo</p>
              <p class="title">{{ player.faceit.elo }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Games played</p>
              <p class="title">{{ player.faceit.games_played }}</p>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>