<div class="columns is-vcentered is-centered is-multiline">
  <div class="column is-narrow">
    <a class="button" href="{{ player.steam.link }}">
      <span class="icon">
        <i class="fas fa-arrow-up-right-from-square"></i>
      </span>
      <span>{{ player.steam.ctx.name }}</span>
    </a>
  </div>
  <div class="column is-narrow">
    <a class="button" href="{{ player.faceit.link }}">
      <span class="icon">
        <i class="fas fa-arrow-up-right-from-square"></i>
      </span>
      <span>{{ player.faceit.ctx.name }}</span>
    </a>
  </div>
  <div class="column is-narrow">
    <a class="button" href="{{ player.faceit_finder.link }}">
      <span class="icon">
        <i class="fas fa-arrow-up-right-from-square"></i>
      </span>
      <span>{{ player.faceit_finder.ctx.name }}</span>
    </a>
  </div>
  <div class="column is-narrow">
    <a class="button" href="{{ player.leetify.link }}">
      <span class="icon">
        <i class="fas fa-arrow-up-right-from-square"></i>
      </span>
      <span>{{ player.leetify.ctx.name }}</span>
    </a>
  </div>
  <div class="column is-narrow">
    <a class="button" href="{{ player.csgo_backpack.link }}">
      <span class="icon">
        <i class="fas fa-arrow-up-right-from-square"></i>
      </span>
      <span>{{ player.csgo_backpack.ctx.name }}</span>
    </a>
  </div>
</div>