<div class="columns is-vcentered">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="columns">
          <div class="column has-text-centered">
            <p class="subtitle">{{ player.faceit_finder.ctx.name }}</p>
          </div>
          <div class="column is-narrow">
            <a class="button" href="{{ player.faceit_finder.link }}" target="_blank">
              <span class="icon">
                <i class="fas fa-arrow-up-right-from-square"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="columns">
          <div class="column has-text-centered">
            <p class="subtitle">{{ player.cs_stats.ctx.name }}</p>
          </div>
          <div class="column is-narrow">
            <a class="button" href="{{ player.cs_stats.link }}" target="_blank">
              <span class="icon">
                <i class="fas fa-arrow-up-right-from-square"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="columns">
          <div class="column has-text-centered">
            <p class="subtitle">{{ player.leetify.ctx.name }}</p>
          </div>
          <div class="column is-narrow">
            <a class="button" href="{{ player.leetify.link }}" target="_blank">
              <span class="icon">
                <i class="fas fa-arrow-up-right-from-square"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="columns">
          <div class="column has-text-centered">
            <p class="subtitle">{{ player.csgo_backpack.ctx.name }}</p>
          </div>
          <div class="column is-narrow">
            <a class="button" href="{{ player.csgo_backpack.link }}" target="_blank">
              <span class="icon">
                <i class="fas fa-arrow-up-right-from-square"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>