<div class="card">
  <div class="card-content">
    <div class="columns is-vcentered">
      <div class="column is-2 has-text-centered">
        <p class="subtitle">{{ player.steam.ctx.name }}</p>
      </div>
      <div class="column">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Time played</p>
              <p class="title">{{ (player.steam.time_played / 60) | int }}h</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Time played last weeks</p>
              <p class="title">{{ (player.steam.last_weeks_time_played / 60) | int }}h</p>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>