<div class="container">
  <div class="card">
    <div class="columns">
      <div class="column is-3 has-text-centered">
        <p class="subtitle">{{ player.steam.ctx.name }}</p>
      </div>
      <div class="column">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">id</p>
              <p class="title">{{ player.steam.id }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Time played</p>
              <p class="title">{{ player.steam.time_played }}</p>
            </div>
          </div>
        </nav>
      </div>
      <div class="column">
        <span class="icon has-text-dark">
          <i class="fas fa-arrow-up-right-from-square"></i>
          {# <i class="fas fa-external-link"></i> #}
        </span>
      </div>
    </div>
  </div>
</div>