<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CSSCAN</title>
  <link id="favicon" rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>

<body>
  <section class="hero is-dark is-fullheight">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a href="/">
              <img src="/static/images/logo.jpg" width="128" height="128" alt="csscan">
            </a>
          </div>
        </div>
      </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="column">
        <div class="block has-text-centered">
          <p class="title"> Welcome on <span class="has-text-weight-bold">{{ profile.name }}</span>'s profile.</p>
        </div>
        {%- for media in profile.medias %}
        <div class="block">
          <a href="{{ media.url }}" target="_blank">
            <div class="card has-background-white-ter">
              <div class="card-content">
                <p class="subtitle has-text-grey">
                  {{ media.name }}
                </p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <footer class="footer has-background-dark">
        <div class="block">
          <div class="content has-text-centered has-text-white-smoke">
            <p>Made by Mammoth with ❤️</p>
          </div>
        </div>
      </footer>
    </div>
  </section>

  <link rel="stylesheet" href="/static/css/bulma.min.css">
</body>

</html>