<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CSSCAN</title>
  <link id="favicon" rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>

<body>
  <nav class="navbar is-success">
    <div class="navbar-brand">
      <a href="/">
        <img src="/static/images/logo.jpg" width="128" height="128" alt="csscan">
      </a>
    </div>
  </nav>

  <section class="hero is-warning is-medium">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title"> Welcome on <span class="has-text-weight-bold">{{ profile.name }}</span>'s profile</p>
      </div>
    </div>
  </section>

  <div class="columns is-centered">
    <div class="column is-half">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Faceit</p>
            <p class="title">3,456</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Steam</p>
            <p class="title">123</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Followers</p>
            <p class="title">456K</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Likes</p>
            <p class="title">789</p>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="columns is-centered">
    {%- for media in profile.medias %}
    <div class="column is-narrow">
      <a class="button" href="{{ media.url }}" target="_blank">
        {{ media.name }}
      </a>
    </div>
    {% endfor %}
  </div>

  <footer class="footer has-background-success">
    <div class="content has-text-centered">
      <p>Made by Mammoth with ❤️</p>
    </div>
  </footer>

  <link rel="stylesheet" href="/static/css/bulma.min.css">
</body>

</html>